<html>
<head>
	<title>Dashboard</title>
	<link href='/static/css/bootstrap.css' rel='stylesheet' type='text/css'>
	<link href='/static/css/main.css' rel='stylesheet' type='text/css'>
	<script type='text/javascript' src='/static/js/jquery.js'></script>
	<script type='text/javascript' src='/static/js/main.js'></script>
</head>

<body>
	<div class='container'>
		<div class="navbar-header">
            <a class="navbar-brand hidden-xs" href="/" title="SweetIQ Stats">SweetIQ Stats</a>
            <a class="navbar-brand visible-xs" href="/" title="SweetIQ Stats">SIQ Stats</a>
        </div>
	</div>
	<div class='container'>
		<div class='row-fluid'>
			<div class='col-md-12 col-lg-12 col-sm-12'>
				<table id='listing' class='table table-striped'>
                    {% for token in tokens %}
                        <tr>
                            <td>{{ token.token_id }}</td>
                            <td>{{ token.location_name }}</td>
                            <td>{{ token.listing }}</td>
                            <td>{{ token.review }}</td>
                        </tr>
                    {% endfor %}
				</table>
			</div>
		</div>
	</div>
</body>
</html>