<html>
<head>
	<title>Dashboard</title>
	<link href='/static/css/bootstrap.css' rel='stylesheet' type='text/css'>
	<link href='/static/css/main.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/dashboard.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type='text/javascript' src='/static/js/jquery.js'></script>
	<script type='text/javascript' src='/static/js/main.js'></script>
</head>

<body>
	<div class='container'>
		<div class="navbar-header">
            <a class="navbar-brand hidden-xs" href="/" title="SweetIQ Stats">SweetIQ Stats</a>
            <a class="navbar-brand visible-xs" href="/" title="SweetIQ Stats">SIQ Stats</a>
        </div>
	</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6" id="listingCount">
                <p>Listings</p>
                <p id="lCount">0</p>
            </div>
            <div class="col-xs-6" id="reviewsCount">
                <p>Reviews</p>
                <p id="rCount">0</p>
            </div>
        </div>
    </div>

	<div class='container-fluid'>
		<div class='row'>
			<div class='col-md-12 col-lg-12 col-sm-12'>
				<table id='listing' class='table table-striped'>
                    {% for token in tokens %}
                        <tr>
                            <td>{{ token.token_id }}</td>
                            <td>{{ token.location_name }}</td>
                            <td>{{ token.listing }}</td>
                            <td>{{ token.review }}</td>
                        </tr>
                    {% endfor %}
				</table>
			</div>
		</div>
	</div>
</body>
</html>